.logincontiner {
    box-shadow: 0px 0px 20px 0px  #f3f1f1;
   margin: auto;
    height: 650px;
    width: 35%;
}
.input{
    width: 70%;
    height: 60px;
    border: none;
    background-color: #f8f7f7;
    font-size: large;
    border-radius: 5px;
    padding-left: 2%;
    
}
.buttsignin{
    width: 70%;
    height: 60px;
    background-color: rgb(255, 123, 0);
    border-radius: 5px;
    font-size: x-large;
    color: white;
    border: none;
    
}
.buttsignin:hover{
    cursor: pointer;
    background-color: rgb(247, 141, 43);
}
.forget{
    color: rgb(247, 141, 43);
    cursor: pointer;;
    margin-top: 20px;
}